:root {
  --black: black;
  --cyan: cyan;
  --blue: #5221e6;
  --white: white;
  --level-1: #181823;
  --darkgrey: #5b6876;
  --light-slate-grey: #8491a0;
  --lime-green: #3cc74e;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body {
  background-color: var(--black);
  font-family: Sen, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper.grid {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.grid-3_col {
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.projects-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.sticky-grid {
  grid-column-gap: 64px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wrapper.footer-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .6fr .4fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 72px;
  padding-right: 72px;
}

.nav-link {
  color: rgba(255, 255, 255, .7);
  padding: 32px 24px;
  font-size: 16px;
  line-height: 150%;
  transition: color .35s cubic-bezier(.165, .84, .44, 1);
  display: none;
}

.nav-link:hover {
  color: var(--cyan);
}

.nav-link.button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1), color .35s cubic-bezier(.165, .84, .44, 1);
}

.nav-link.button:hover {
  background-color: #2a0b85;
}

.brand {
  margin-top: 32px;
  padding-left: 0;
}

.hero-section {
  height: 90vh;
  max-height: 1080px;
  padding-right: 40px;
  position: static;
}

.hero-image-box {
  height: 80vh;
  max-height: 864px;
  background-image: url('../images/6509432a9356cfba346f1f40_Hero-Image.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading_76px {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 76px;
  line-height: 110%;
}

.hero-text-block {
  margin-left: -64px;
}

.paragraph_18px {
  color: var(--white);
  font-size: 18px;
  line-height: 150%;
}

.paragraph_18px.dark-grey {
  color: var(--darkgrey);
}

.paragraph_18px.light-grey {
  color: var(--light-slate-grey);
  display: none;
}

.paragraph_18px.light-grey._40px-bottom_m {
  margin-bottom: 40px;
}

.paragraph_18px.light-grey._64px-bottom_m {
  margin-bottom: 64px;
}

.hero-bg {
  z-index: -1;
  width: 65vw;
  height: 110vh;
  max-height: 1350px;
  background-image: linear-gradient(to bottom, var(--level-1), var(--level-1));
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.white_50 {
  color: rgba(255, 255, 255, .5);
  display: none;
}

.experience-section {
  padding: 265px 72px 120px;
}

.overline_16px {
  color: var(--light-slate-grey);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  display: inline-block;
}

.heading_55px {
  width: 100%;
  max-width: 780px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 110%;
  display: inline-block;
}

.heading_55px.black {
  color: var(--level-1);
}

.heading_55px.black._24px-bottom, .heading_55px._24px-bottom {
  margin-bottom: 24px;
}

.flex-vertical_left_top {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.experience-grid {
  grid-column-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}

.experience-grid.education {
  grid-template-columns: 1fr 1fr;
}

.number {
  color: var(--light-slate-grey);
  margin-bottom: 8px;
  font-size: 117px;
  font-weight: 400;
  line-height: 100%;
  display: block;
}

.heading_24px {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.heading_24px._64px-bottom_m {
  margin-bottom: 64px;
}

.heading_24px.padding-top {
  margin-top: 32px;
}

.experience-block {
  padding-right: 48px;
}

.paragraph_16px {
  color: var(--white);
  margin-bottom: 0;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}

.paragraph_16px.light-grey {
  color: var(--light-slate-grey);
}

.paragraph_16px.white {
  color: var(--white);
}

.paragraph_16px.cyan {
  color: var(--cyan);
  transition: color .35s;
}

.paragraph_16px.cyan:hover {
  color: rgba(0, 255, 255, .85);
}

.green {
  color: var(--lime-green);
}

.blue {
  color: #609bff;
}

.pink {
  color: #e95d90;
}

.mid-section {
  height: 600px;
  display: block;
}

.mid_left-block {
  background-color: #fff3e4;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 120px 72px;
  display: flex;
}

.mid_left-block.instagram {
  background-color: #fbe4ff;
}

.animated-link-button {
  border-bottom: 1px solid var(--darkgrey);
  color: var(--level-1);
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  transition: color .35s cubic-bezier(.165, .84, .44, 1), padding .35s cubic-bezier(.165, .84, .44, 1), background-color .35s cubic-bezier(.165, .84, .44, 1);
  display: none;
}

.animated-link-button:hover {
  background-image: linear-gradient(to bottom, var(--blue), var(--blue));
  color: var(--white);
  padding-left: 16px;
  padding-right: 16px;
}

.animated-link-button.white {
  color: var(--white);
  display: none;
}

.normal-wrapper._48px-right_p {
  padding-right: 48px;
}

.normal-wrapper._48px-right_p._80px-bottom_m {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
  display: flex;
}

.normal-wrapper._120px-bottom_m {
  margin-bottom: 120px;
}

.normal-wrapper.flex-vertical_left_space-betwen {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.normal-wrapper.flex-horizontal_left_top {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
}

.mid_image {
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/DSC_8668.jpg');
  background-position: 0 0, 0 100%;
  background-size: auto, cover;
}

.mid_image.instagram {
  background-image: url('../images/Instagram.jpg');
  background-position: 50% 0;
}

.mid_image.padding-up-down {
  padding-top: 10px;
  padding-bottom: 10px;
}

.skills-section {
  padding: 120px 72px;
}

.skills-section.later {
  display: none;
}

.skill-icon {
  color: var(--blue);
  margin-bottom: 24px;
}

.logo-bar-section {
  overflow: hidden;
}

.logo-grid {
  grid-column-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo-box {
  width: 24vw;
  height: 140px;
  border: 1px solid var(--level-1);
  justify-content: center;
  align-items: center;
  display: flex;
}

.projects-section {
  padding: 120px 72px;
}

.project-image {
  height: 470px;
  object-fit: cover;
}

.project-description {
  background-color: var(--level-1);
  padding: 40px 32px;
  position: relative;
}

.button-wrapper {
  height: 232px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cta {
  border: 1px solid var(--blue);
  color: var(--white);
  background-color: rgba(56, 152, 236, 0);
  padding: 24px 32px;
  font-size: 18px;
  font-weight: 700;
  transition: box-shadow .35s cubic-bezier(.165, .84, .44, 1), background-color .35s cubic-bezier(.165, .84, .44, 1), transform .35s cubic-bezier(.165, .84, .44, 1);
}

.cta:hover {
  background-color: var(--blue);
  transform: translate(0, -5px);
  box-shadow: 0 20px 60px rgba(82, 33, 230, .3);
}

.project-wrapper {
  margin-bottom: 24px;
  text-decoration: none;
  overflow: hidden;
}

.project-wrapper._24px-bottom_m {
  margin-bottom: 24px;
}

.dribbble-section {
  padding-top: 120px;
  padding-bottom: 120px;
  display: block;
}

.wrapper-v2 {
  width: 100%;
  height: 100%;
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-v2.forms-grid {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brower-bar {
  height: 37px;
  background-color: var(--level-1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  display: flex;
}

.dots {
  width: 12px;
  height: 12px;
  background-color: var(--light-slate-grey);
  border-radius: 100px;
  margin-right: 6px;
}

.dribbble-image {
  height: 640px;
  background-image: url('../images/screencapture-dribbble-mozamel-2023-09-23-09_55_16.webp');
  background-position: 50%;
  background-repeat: repeat;
  background-size: 1024px;
  background-attachment: fixed;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.testimonial-section {
  padding: 120px 72px;
}

.testimonial-block._120px-bottom_m {
  margin-bottom: 120px;
}

.testimonial-block._120px-bottom_m.later, .testimonial-block.later {
  display: none;
}

.testimonial-image {
  height: 390px;
  object-fit: cover;
}

.testimonial-text {
  border-right: 1px solid var(--darkgrey);
  border-bottom: 1px solid var(--darkgrey);
  border-left: 1px solid var(--darkgrey);
  padding: 64px;
}

.heading_18px {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.heading_18px.light-grey {
  color: var(--light-slate-grey);
}

.heading_18px.light-grey._4px-bottom_m {
  margin-bottom: 4px;
}

.testimonial-sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.tabs-section {
  padding: 120px 72px;
  display: none;
}

.tabs {
  display: none;
}

.tab {
  border: 1px solid var(--blue);
  color: var(--white);
  background-color: rgba(221, 221, 221, 0);
  margin-right: 24px;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1);
}

.tab:hover {
  background-color: rgba(82, 33, 230, .2);
}

.tab.w--current {
  background-color: var(--blue);
}

.tab-menu {
  margin-bottom: 40px;
}

.tab-grid {
  height: 32vw;
  max-height: 630px;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tab-image {
  height: 100%;
  object-fit: cover;
}

.forms-section {
  padding: 120px 72px;
}

.text-field {
  background-color: var(--level-1);
  color: var(--white);
  border: 0 #000;
  margin-top: 8px;
  margin-bottom: 40px;
}

.text-field._100px {
  height: 100px;
  display: block;
}

.form-button {
  width: 100%;
  background-color: var(--blue);
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.success {
  background-color: var(--lime-green);
}

.success-text {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.error-message {
  background-color: #e43b3b;
}

.text-block {
  color: #fff;
}

.footer {
  background-color: var(--level-1);
  padding: 80px 72px;
}

.footer-logo {
  margin-bottom: 32px;
}

.social-icons {
  margin-right: 16px;
}

.footer-link-block {
  width: 50%;
  border: 1px #000;
  text-decoration: none;
}

.footer-link {
  color: var(--white);
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  transition: color .35s cubic-bezier(.165, .84, .44, 1);
  display: none;
}

.footer-link:hover {
  color: var(--cyan);
}

.skills-wrapper._48px-right_p {
  padding-right: 48px;
}

.progress-bar {
  z-index: 100;
  width: 100%;
  height: 5px;
  background-color: var(--blue);
  transform-origin: 0%;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.arrow-div {
  width: 48px;
  height: 48px;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.banner {
  width: 100%;
  background-color: var(--blue);
  background-image: linear-gradient(to bottom, transparent, transparent), linear-gradient(to right, var(--blue), #8d21e6);
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1);
  display: block;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.banner:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(to right, var(--blue), #8d21e6);
}

.banner-text {
  color: var(--white);
  text-align: center;
  font-size: 16px;
}

.div-block {
  flex-direction: row;
  margin-top: 20px;
  display: flex;
}

.image {
  margin-right: 8px;
}

.grow-text {
  transform-origin: 0 0;
  display: inline-block;
}

.img-span_img-wrap {
  z-index: -1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.img-span {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.img-span_reveal {
  z-index: 2;
  width: 106%;
  height: 106%;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  background-color: #fff;
  display: flex;
  position: absolute;
  top: -3%;
  bottom: -3%;
  left: -3%;
  right: -3%;
  transform: scale3d(1, 0, 1);
}

.img-carousel {
  width: 100%;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  display: none;
  position: -webkit-sticky;
  position: sticky;
}

.img-span_img {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 250px;
  min-height: 100px;
  min-width: 150px;
  object-fit: cover;
  position: relative;
}

.img-span_img-outer {
  z-index: -1;
  position: absolute;
}

.inline-link {
  color: #7e3a3b;
}

.section_heading {
  font-size: 6em;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
}

.about-text {
  z-index: 1;
  margin-top: 7em;
  position: relative;
}

.section_content {
  grid-column-gap: 7em;
  grid-row-gap: 7em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  display: grid;
  position: relative;
}

.section_body {
  letter-spacing: 0;
  text-transform: none;
  font-weight: 400;
}

.section_body.large {
  max-width: 24.5em;
  font-size: 3em;
  line-height: 1.3;
}

.section_body.large.about {
  max-width: 9.5em;
  text-align: center;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: flex-start;
  font-size: 7.5em;
  font-weight: 300;
  line-height: 1.5;
}

.section_body.large.about.control {
  display: none;
}

.section_body.small.about-1 {
  z-index: 2;
  max-width: 30em;
  position: relative;
}

.img-reveal_img {
  z-index: 1;
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  flex: none;
  position: relative;
}

.img-reveal_img.narrow {
  width: 12.5vh;
}

.img-reveal_img.med {
  width: 15vh;
  height: 30vh;
  margin-top: -5%;
}

.img-reveal_img.wide {
  width: 35vh;
  margin-top: -5%;
}

.div-block-2 {
  display: none;
}

.preloader {
  z-index: 9999;
  background-color: #000;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .wrapper.grid-3_col {
    grid-template-columns: 1fr 1fr;
  }

  .wrapper.projects-grid {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .wrapper.sticky-grid {
    grid-column-gap: 24px;
  }

  .wrapper.footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .nav-bar {
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero-section {
    padding-right: 32px;
  }

  .heading_76px {
    font-size: 56px;
  }

  .experience-section {
    padding: 150px 40px 80px;
  }

  .experience-block {
    padding-right: 16px;
  }

  .mid_left-block, .skills-section {
    padding: 80px 40px;
  }

  .logo-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .logo-box {
    width: auto;
  }

  .projects-section {
    padding: 80px 40px;
  }

  .project-wrapper._24px-bottom_m {
    margin-bottom: 48px;
  }

  .dribbble-section {
    padding: 80px 40px;
  }

  .dribbble-image {
    height: 480px;
    background-size: cover;
  }

  .testimonial-section {
    padding: 80px 40px;
  }

  .testimonial-block._120px-bottom_m {
    margin-bottom: 64px;
  }

  .testimonial-text {
    padding: 32px;
  }

  .tabs-section {
    padding: 80px 40px;
  }

  .tab-grid {
    height: 840px;
    max-height: none;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .forms-section {
    padding: 80px 40px;
  }

  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .banner {
    display: block;
  }

  .banner-text {
    text-align: center;
    line-height: 130%;
  }

  .section_body.large.about {
    max-width: none;
    font-size: 8.75vw;
  }
}

@media screen and (max-width: 767px) {
  .wrapper.grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .wrapper.grid-3_col {
    grid-template-columns: 1fr;
    align-items: stretch;
  }

  .wrapper.sticky-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .wrapper.footer-grid {
    grid-template-columns: 1fr;
  }

  .nav-bar {
    padding-left: 20px;
    padding-right: 0;
  }

  .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, .12);
  }

  .brand {
    margin-top: 24px;
  }

  .menu-button {
    padding: 24px 20px;
  }

  .menu-button.w--open {
    background-color: var(--black);
  }

  .nav-menu {
    background-color: var(--level-1);
  }

  .hero-section {
    height: auto;
    padding-right: 0;
  }

  .hero-image-box {
    height: 45vh;
  }

  .heading_76px {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .hero-text-block {
    background-image: linear-gradient(to bottom, var(--level-1), var(--level-1));
    margin-left: 0;
    padding: 48px 20px;
  }

  .hero-bg {
    display: none;
  }

  .experience-section {
    padding: 64px 20px;
  }

  .heading_55px {
    font-size: 32px;
  }

  .experience-grid {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .experience-grid.education {
    grid-template-columns: 1fr;
  }

  .experience-block {
    padding-right: 0;
  }

  .mid-section {
    height: auto;
    display: block;
  }

  .mid_left-block {
    height: 450px;
    padding: 48px 20px;
  }

  .normal-wrapper._48px-right_p {
    padding-right: 0;
  }

  .normal-wrapper._120px-bottom_m {
    margin-bottom: 64px;
  }

  .mid_image {
    height: 450px;
  }

  .skills-section, .projects-section, .dribbble-section {
    padding: 64px 20px;
  }

  .wrapper-v2.forms-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .dribbble-image {
    background-size: cover;
  }

  .testimonial-section {
    padding: 64px 20px;
  }

  .testimonial-sticky-block {
    position: static;
  }

  .tabs-section {
    padding: 64px 20px;
  }

  .tab {
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    display: flex;
  }

  .tab-menu {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .tab-grid {
    height: auto;
  }

  .tab-image {
    height: 360px;
  }

  .forms-section {
    padding: 64px 20px;
  }

  .footer {
    height: auto;
  }

  .skills-wrapper._48px-right_p {
    padding-right: 0;
  }

  .banner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .img-span_img {
    max-height: 350px;
    max-width: 200px;
    min-width: 100px;
  }

  .section_heading {
    font-size: 4em;
  }

  .section_body.large.about {
    font-size: 12vw;
  }
}

@media screen and (max-width: 479px) {
  .wrapper.grid-3_col {
    grid-template-columns: 1fr 1fr;
  }

  .experience-grid.education {
    grid-template-columns: 1fr;
  }

  .testimonial-text {
    padding: 24px;
  }

  .tab-grid {
    grid-template-columns: 1fr;
  }

  .img-span {
    justify-content: center;
    display: flex;
  }

  .section_heading {
    font-size: 3.5em;
    line-height: 1;
    display: block;
  }

  .section_body.large.about {
    font-size: 13vw;
  }
}

#w-node-_3cb0f931-ad23-8f11-e7c9-7467d5aa3ec3-346f1f2b, #w-node-c07b73a0-4560-1829-def8-54c08f04f882-346f1f2b {
  align-self: center;
}

#w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-346f1f2b, #w-node-a0ddac08-ce68-06eb-647d-32157b216c02-346f1f2b, #w-node-bee185fc-c56f-d183-6235-99a93ddc2ed2-346f1f2b, #w-node-_21404816-06f8-4a5f-17d5-116a86ad2b07-346f1f2b {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-f7beccd5-8c33-2fbf-2270-831c190d3a83-346f1f2b {
  justify-self: center;
}

#w-node-d790e285-86fd-1a16-589f-9d551e7d8e5f-1e7d8e5d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2a9716ca-4096-3850-2d15-28cc733fbdd4-1e7d8e5d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-346f1f2b, #w-node-a0ddac08-ce68-06eb-647d-32157b216c02-346f1f2b, #w-node-bee185fc-c56f-d183-6235-99a93ddc2ed2-346f1f2b, #w-node-_21404816-06f8-4a5f-17d5-116a86ad2b07-346f1f2b {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4a8f1cb8-b5cc-dca3-1f15-df569cc0e59e-346f1f2b, #w-node-a0ddac08-ce68-06eb-647d-32157b216c02-346f1f2b, #w-node-bee185fc-c56f-d183-6235-99a93ddc2ed2-346f1f2b, #w-node-_21404816-06f8-4a5f-17d5-116a86ad2b07-346f1f2b {
    grid-column: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_2a9716ca-4096-3850-2d15-28cc733fbdd4-1e7d8e5d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


